################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CityInfo/DesignTimeBuild/.dtbcache.v2
/.vs
/CityInfo.API/bin/Debug/net6.0
/CityInfo.API/obj
